@import "bootstrap-icons/font/bootstrap-icons.css";

.blanco {
    background-color: #E8ECEE;
}
.rojo {
    color: red;
  }
  .naranja {
    color: orange;
  }
  .amarillo {
    color: yellow;
  }
  .azul {
    color: blue;
  }
  .verde {
    color: green;
  }
  .letra{
    font-size: 20px;
  }

